*.log
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
.env
.env.*.backup
.phpunit.result.cache
composer.lock
npm-debug.log*
yarn-error.log*
.DS_Store
.idea
.vscode
